<nav class="container mx-auto px-4 py-4">
	<div class="flex justify-between items-center">
		<div>
			<a class="text-2xl md:text-3xl font-bold" href="/">BS</a>
		</div>
		<div class="flex flex-wrap space-x-10 items-center">
			<div class="flex space-x-4 items-center">
				<a class="hover:underline font-semibold" href="/flash">flash me</a>
				<a hx-target="#main" hx-get="/bored" class="hover:underline font-semibold" href="/">I'm bored</a>
			</div>
			<a class="btn btn-black">Sign in</a>
		</div>
	</div>
</nav>